<ion-view hide-nav-bar='true'>
  <ion-content>
    <ion-list>
      <ion-input class='item item-input'>
        <ion-label>Number of attendees</ion-label>
        <input ng-model='attendeeCount' type='number'>
      </ion-input>
      <ion-input class='item item-input'>
        <ion-label>Tax percentage</ion-label>
        <input ng-model='taxPercent' type='text'>
      </ion-input>
      <ion-input class='item item-input'>
        <ion-label>Tip percentage</ion-label>
        <input ng-model='tipPercent' type='text'>
      </ion-input>
      <ion-input class='item item-input'>
        <ion-label>Service fee</ion-label>
        <input ng-model='serviceFee' type='text'>
      </ion-input>
      <ion-item class='item-icon-right' href='#/order-items'>
        <h2>Order items</h2>
        <p>Item details go here</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class='item-icon-right' href='#/results'>
        <h2>Results</h2>
        <p>Result details go here</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
