<ion-view>
  <ion-content>
    <ion-list>
      <ion-input class='item item-input'>
        <ion-label>Number of attendees</ion-label>
        <input ng-model='attendeeCount' type='number'>
      </ion-input>
      <ion-input class='item item-input'>
        <ion-label>Tax percentage</ion-label>
        <input ng-model='taxPercent' type='text'>
      </ion-input>
      <ion-input class='item item-input'>
        <ion-label>Tip percentage</ion-label>
        <input ng-model='tipPercent' type='text'>
      </ion-input>
      <ion-input class='item item-input'>
        <ion-label>Service fee</ion-label>
        <input ng-model='serviceFee' type='text'>
      </ion-input>
      <ion-item>
        Order items
      </ion-item>
      <ion-item>
        Results
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
